@import url(../blocks/main/footer/footer.css);
@import url(../blocks/main/results/results.css);
@import url(../blocks/main/search/header/header.css);
@import url(../blocks/main/search/search-menu/search-menu.css);
@import url(../blocks/main/search/header/mobile__header.css);
@import url(../blocks/saved/results/article/article.css);
@import url(../blocks/saved/search/header/header.css);
@import url(../blocks/saved/search/search-menu/search-menu.css);

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  src: url(../roboto/roboto-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 200;
  src: url(../roboto/roboto-medium-webfont.woff) format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style:  normal;
  src: url(../roboto/robotoslab-regular-webfont.woff) format("woff");
}
textarea:focus, input:focus, button:focus
{
  outline: none;
}
body{
  max-width: 1440px;
  margin: auto;
  }