.or-registration{
  margin: auto;
  align-items: center;
  text-align: center;
}
.or-registration__link{
  border: none;
  padding: 0;
  background-color: inherit;
  text-decoration: none;
  color: #2F71E5;
}
.or-registration__link:hover{
  
}