@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  src: url("./roboto/roboto-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 200;
  src: url("../roboto/roboto-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style:  normal;
  src: url("../roboto/robotoslab-regular-webfont.woff") format("woff");
}
.bold{
  font-weight: bold;
}
.search{
  padding: 0;
  width: 100%;

  background-image: url('../src/images/georgia-de-lotz--UsJoNxLaNo-unsplash\ _1.png');
  background-size: cover;
  background-position: center;
}
.header{
  display: flex;
  color: #FFFFFF;
  justify-content: space-between;
  padding: 0px 40px 0px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);

  margin: 0;
}
.header__tittle{
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 0;
  padding-top: 30px;
  margin: 0;
  font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
width: 200px;
}
.header__menu{


  padding-bottom: 0px;
  padding-top: 16px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: #FFFFFF;
  align-items: baseline;
}
.header__main{
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;

  margin-right: 32px;
  padding-bottom: 27px;
  padding-top: 0;
  border-bottom: 3px solid white;

}
.header__saved_articles{
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #B6BCBF;
  margin: 0;
  margin-right: 32px;
  padding-bottom: 0;
  padding-top: 0;

}
.header__auth{

  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 32px;
  border: 1px solid #FFFFFF;
  text-align: center;
  border-radius: 100px;
  vertical-align: middle;
  width: 152px;
  font-size: 18px;

  line-height	: 40px;




}
.header__name_menu{
  font-size: 18px;

  font-family: Roboto;
font-style: normal;
font-weight: 500;
  padding-left: 10px;
  display: flex;
  border: 1px solid #FFFFFF;

  justify-content: center;
  text-align: center;
  border-radius: 100px;

  line-height	: 48px;
}
.header__name{
  font-size: 18px;

  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  margin-right: 6px;
  padding-bottom: 0;
  padding-top: 0;

}
.header__name-icon{
  margin-right: 6px;
  padding-top: 6px;
}
.header__menu_mobile-img{
  display: none;
}
.search_menu{
  width: 42%;
  margin: auto;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}
.search_menu__tittle{
margin-bottom: 32px;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 64px;
color: #FFFFFF;
}
.search_menu__subtittle{
  margin-bottom: 64px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}
.search_menu__form{
  height: 64px;
  width: 100%;

  background: #FFFFFF;

display: flex;
justify-content: space-between;

box-sizing: border-box;


border-radius: 100px;
}
.search_menu__input{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
margin: 0;
box-sizing: border-box;
margin-left: 24px;
/* Note: backdrop-filter has minimal browser support */

border: thick;
border-radius: 100px;
  color: #B6BCBF;
}
.search_menu__button{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
color: #FFFFFF;
  width: 27%;
  background: #2F71E5;
margin: 0;
padding: 0;
border: thick;
border-radius: 300px;
font-size: 18px;
line-height: 24px;
}
.search_menu__button:hover{
  background: #347EFF;
}
.search_menu__button:focus{
  background: #2A65CC;

}
.results{

  width: 100%;
  background: #F5F6F7;
  padding: 80px 0 80px;

}
.results__title{
  width: 85%;
  margin: auto;

  margin-bottom: 64px;
  font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 46px;


color: #1A1B22;
}
.table{
margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-column-gap:1%;
  grid-row-gap: 16px;
}
.article{
position: relative;
  background: #FFFFFF;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article__icon_save{
  position: absolute;
  right: 24px;

  top: 24px;
  width: 40px;
  height: 40px;
  z-index: 1;
  background-image: url("..src/images/Group\ 12.png");

}
.article__icon_save:hover{
  background-image: url("..src/images/Group\ 14.png");

}
.article__pic{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.article__date{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
font-size: 18px;
line-height: 24px;
margin-top: 20px;
margin-left: 24px;
color: #B6BCBF;
}
.article__title{
  font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
color: #1A1B22;
margin-bottom: 12px;
margin-left: 24px;
margin-right: 24px;
}
.article__content{
  margin-left: 24px;
margin-right: 24px;
font-family: Roboto;
font-style: normal;
font-weight: normal;

font-size: 16px;
line-height: 22px;

color: #1A1B22;
}
.article__source{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.4px;
text-transform: uppercase;


color: #B6BCBF;
  margin-left: 24px;
}
.show_more{
  width: 20%;
  display: flex;
  margin: auto;
  height: 64px;

  background: #FFFFFF;
 border-radius: 80px;
 font-family: Roboto;
font-style: normal;
font-weight: 500;

font-size: 18px;
line-height: 24px;
text-align: end;
justify-content: space-evenly;





color: #1A1B22;

border: thick;
}
.show_more:hover{
  opacity: 0.9;
  cursor: pointer;
}
.finding{

    margin: 80px auto;


display: flex;
flex-direction: column;
align-items: center;
    overflow: hidden;

}
.finding__img{

	width: 50px;
	height: 50px;
	border: 4px solid #444;
	border-bottom-color: #888;

	border-radius: 50%;


	animation: spin .75s infinite linear;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.finding_subtitle{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;


text-align: center;


color: #B6BCBF;

}
.nothing_not_found{
  width: 25%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nothing_not_found__title{
  margin-top: 24px;
  margin-bottom: 0px;
  font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;

text-align: center;

color: #1A1B22;
}
.nothing_not_found__subtitle{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
margin-top: 16px;

text-align: center;


color: #B6BCBF;
}


.author{
margin: auto;
  padding-top: 80px;
  padding-left: 7%;
  background: #FFFFFF;

  display: flex;

}
.author__photo{
  width: 32%;

  margin-right: 56px;
}

.about_author{
width: 50%;
  display: flex;
  flex-direction: column;

}
.about_author__title{
  font-family: Roboto Slab;
font-style: normal;
font-weight: normal;

font-size: 40px;
line-height: 46px;

color: #1A1B22;
}
.about_author__info{
  width: 100%;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #1A1B22;
}

.footer{

  padding-top: 33px;
  padding-bottom: 25px;
  padding-left: 104px;
  padding-right: 104px;
display: flex;
justify-content: space-between;
}
.footer__copyright{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #B6BCBF;
  margin: 0;
}
.footer__info{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
display: flex;
justify-content: space-between;
}
.footer__info-main{
  width: 120px;
  margin: 0;
  text-decoration: none;
  color: #1A1B22;

}
.footer__info-yapracticum{
  margin: 0;
  width: 200px;
  text-decoration: none;
  color: #1A1B22;
}
.footer__icon{

margin-right: 26px;
}
.footer__icon:last-of-type{
  margin: 0;
}
.popup_forms{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;

}
.popup_forms.none{
  display: none;
}

.form{
position: fixed;
  padding: 36px;
  width: 358px;
  background: #FFFFFF;
  border-radius: 16px;
}
.form__title{
  font-family: Roboto;
font-style: normal;
font-weight: 900;
margin: 0;

}
.form__enter{
  display: none;
}


.form__close {
  width: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: pointer;
}


.input_title{
  margin-top: 22px;
  margin-bottom: 9px;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

color: #2F71E5;
}
.popup__input{
  width: 100%;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 0px 0px 10px;
  margin-bottom: 4px;
}

.popup__input:last-of-type {
  margin-top: 0px;
  margin-bottom: 0px;
}
.popup__input:focus{
  border:0
}
.popup__button{
  padding: 0;
  width: 358px;
  height: 64px;
  border-radius: 100px;
  background: #E6E8EB;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;

margin: 39px auto 16px;

display: flex;
align-items: center;
text-align: center;
border: thick;
color: #B6BCBF;
justify-content: space-evenly;
}
.or_registration{
  margin: auto;

  align-items: center;
text-align: center;
}
.or_registration_link{
  text-decoration: none;
}
.form__registration{
  display: block;
}
.registration-ok{
display: none;
flex-direction: column;
}
.registration-ok__subtitle{
padding-top: 14px ;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #2F71E5;
}

.error_valid{
  margin-top: 3px;
  margin-bottom: 13px;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

color: #FF0000;
}
.error_valid__registration{
  text-align: center;
  margin: auto;
  margin-bottom: -34px;
  margin-top: 17px;
}

/*??????????????????????????????/////////////////////////////////////////////////////////////??????SAVED

*/
.saved{
  background: #FFFFFF;
  color: #1A1B22;
  border-bottom: 1px solid #D1D2D6;
}
.black{
  color: #1A1B22;
}

.header__main-saved{
  border: 0;
}
.header__saved_articles-saved{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 64px;
  height: 100%;
  border-bottom: 3px solid #1A1B22;
}
.header__name_menu-saved{
  border: 1px solid #D1D2D6;
}

.search_menu_saved{
  margin: 0;
  margin-top: 24px;
  padding-left: 40px;
  padding-bottom: 32px;
}
.search_menu_saved-uppersubtitle{
  margin-top: -24px;
  margin-bottom: -16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.article__icon_name{
  position: absolute;
  left: 24px;
  top: 10px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px ;
text-align: center;

color: #000000;
}
.article__icon_delete{
  position: absolute;
  right:70px;
  top: 10px;
  background: #FFFFFF;
border-radius: 10px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
padding: 8px 12px ;


text-align: center;

color: #000000;
}
.article__icon_save-saved{
  width: 40px;
  height: 40px;
background-image: url("..src/images/Group\ 12\ \(1\).png");
}
.article__icon_save-saved:hover{

  cursor: pointer;
  background-image: url("..src/images/Group\ 12-black.png");
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width :790px) {
  .header__main{
margin-right: 16px;
      margin-bottom: 0px;
  }

  .header__saved_articles{
    margin-right: 16px;

  }
  .header__auth{
display: none;
    margin-right: 16px;





  }
  .search_menu{
    width: 68%;
    margin: auto;
    margin-top: 0px;
    padding-top: 32px;

  }
  .search_menu__tittle{
    width: 100%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .search_menu__form{
    padding-top: 0px;
    margin-top: 0px;
    height: 56px;
    width: 250px;
    margin: auto;
    background: #FFFFFF;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;


  border-radius: 100px;
  }
  .search_menu__input{
    width: 150px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  box-sizing: border-box;
  margin-left: 14px;
  /* Note: backdrop-filter has minimal browser support */

  border: thick;
  border-radius: 100px;
    color: #B6BCBF;
  }
  .search_menu__button{
    width: 150px;
    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;

    background: #2F71E5;
  margin: 0;
  padding: 0;
  border: thick;
  border-radius: 300px;
  font-size: 18px;
  line-height: 24px;
  }
  .search_menu__button:hover{
    background: #347EFF;
  }
  .search_menu__button:focus{
    background: #2A65CC;

  }
  .results{

    width: 100%;
    background: #F5F6F7;
    padding: 40px 0 40px;

  }
  .results__title{
    width: 85%;
    margin: auto;

    margin-bottom: 32px;
    font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;


  color: #1A1B22;
  }
  .table{
  margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-column-gap:1%;
    grid-row-gap: 16px;
  }
  .article{
  position: relative;
    background: #FFFFFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .article__icon_save{
    position: absolute;
    right: 24px;

    top: 24px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-image: url("../images/Group\ 12.png");

  }
  .article__icon_save:hover{
    background-image: url("../images/Group\ 14.png");

  }
  .article__pic{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .article__date{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  margin-left: 24px;
  color: #B6BCBF;
  margin-bottom: 12px;
  }
  .article__title{
    margin-top: 0px;
    font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
line-height: 18px;
  color: #1A1B22;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 16px;

  }
  .article__content{
    margin-left: 16px;
  margin-right: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
height: 88px;
  font-size: 16px;
line-height: 22px;
overflow: hidden;
text-overflow: ellipsis;

  color: #1A1B22;
  }
  .article__source{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;


  color: #B6BCBF;
    margin-left: 16px;
  }


.show_more{
  font-size: 14px;
  line-height: 14px;
  width: 200px;
}
.finding{

  margin: 30px auto;



}

.nothing_not_found{
  width: 50%;
  margin: 20px auto;

}
.nothing_not_found__title{
  margin-top: 20px;

font-size: 16px;

}
.nothing_not_found__subtitle{

font-size: 14px;
line-height: 24px;

}


.author{
  margin: auto;
  padding-top: 40px 40px;

  background: #FFFFFF;
  align-items: flex-start;
  display: flex;

}
.author__photo{


  width: 32%;

  margin-right: 32px;
}

.about_author{

  margin-top: 0px;
  padding-top: 0px;
  width: 55%;
  display: flex;
  flex-direction: column;

}
.about_author__title{
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 16px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;

font-size: 40px;
line-height: 46px;

color: #1A1B22;
}
.about_author__info{

margin-bottom: 0px;
  width: 100%;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #1A1B22;
}
.footer{

  padding-top: 33px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
display: flex;
justify-content: space-between;
}
.footer__copyright{

  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #B6BCBF;
  margin: 0;
}
.footer__info{

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
display: flex;
align-items: flex-start;
justify-content: space-between;
}
.footer__info-main{
  margin: 0px;
  width: 96px;


}
.footer__info-yapracticum{
  margin: 0;
  width: 176px;
  text-decoration: none;
  color: #1A1B22;
}
.footer__icon{

margin-right: 26px;
}
.footer__icon:last-of-type{
  margin: 0;
}

/*/////////////////////////////////////////////////////////////////////////*/
.search_menu_saved{

  margin: 0;
  margin-top: 24px;
  padding-left: 40px;
  padding-bottom: 32px;
  }
}
@media (max-width :555px) {
.header{
  padding: 0px 16px 0px;
}
  .table{
  grid-template-columns: 49% 49% ;
    grid-column-gap:2%;
}
.footer{
  padding-left: 0;
  padding-right: 0;

}               /*///////////////////////////////////////////////////////////////////////////////*/
}
@media (max-width :320px) {

  .header{
    display: flex;
    color: #FFFFFF;

    justify-content: space-between;
    padding: 0px 16px 0px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);

    margin: 0;
  }
  .header__tittle{

    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 0px;
    margin: 0;

    font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  width: 117px;
  }
  .header__menu{


    padding-bottom: 0px;
    padding-top: 16px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: #FFFFFF;
    align-items: baseline;
    display: none;
    margin: 0;
    padding: 0;
  }
  .header__menu_mobile-img{
    display: block;
    width: 24px;
    height: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 0px;

  }
  .header__main{
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;

    margin-right: 32px;
    padding-bottom: 27px;
    padding-top: 0;
    border-bottom: 3px solid white;
    margin: 0;
    padding: 0;

  }
  .header__saved_articles{
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #B6BCBF;
    margin: 0;
    margin-right: 32px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    padding: 0;

  }
  .header__auth{

    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-right: 32px;
    border: 1px solid #FFFFFF;
    text-align: center;
    border-radius: 100px;
    vertical-align: middle;
    width: 152px;
    font-size: 18px;

    line-height	: 40px;
    margin: 0;
    padding: 0;



  }
  .header__name_menu{
    font-size: 18px;

    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
    padding-left: 10px;
    display: flex;
    border: 1px solid #FFFFFF;

    justify-content: center;
    text-align: center;
    border-radius: 100px;

    line-height	: 48px;
    margin: 0;
    padding: 0;
  }
  .header__name{
    font-size: 18px;

    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
    margin-right: 6px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    padding: 0;

  }
  .header__name-icon{
    margin-right: 6px;
    padding-top: 6px;
    margin: 0;
    padding: 0;
  }
  .search{


    background-image: url('..src/images/mobile/georgia-de-lotz--UsJoNxLaNo-unsplash_2.png');
    background-position: 0% 0%;
  }
  .search_menu{

    width: 89%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 100px;
    margin-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;

  }
  .search_menu__tittle{
    width: 100%;
    padding-top: 30px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
line-height: 40px;
  color: #FFFFFF;
  margin: 0;

  }
  .search_menu__subtittle{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
line-height: 24px;
  color: #FFFFFF;
  padding: 0;
  margin-right: 0;
  padding-bottom: 122px;
  }
  .search_menu__form{


    width: 100%;
min-width: 0;


  display: flex;
  flex-direction: column;
  justify-content: space-between;

background-color: transparent;
margin: 0;
padding-top: 0;
  border-radius: 0px;

  }
  .search_menu__input{

    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  box-sizing: border-box;

  height: 56px;
  margin-bottom: 16px;
  text-align: center;
margin-top: 0;


  border: thick;
  border-radius: 100px;
    color: #B6BCBF;
width: 100%;
    padding: 15px 0px;
  }
  .search_menu__button{
width: 100%;
    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  height: 56px;
    background: #2F71E5;
    margin: 0;
  padding: 0;
  border: thick;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 14px 0px;

  }
  .search_menu__button:hover{
    background: #347EFF;
  }
  .search_menu__button:focus{
    background: #2A65CC;

  }
  .results{

    width: 100%;
    background: #F5F6F7;
    padding: 16px 0 16px;

  }
  .results__title{
    width: 89%;
    margin: auto;

    margin-bottom: 24px;
    font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
line-height: 34px;


  color: #1A1B22;
  }
  .table{
  margin: auto;
    width: 89%;
    display: grid;
    grid-template-columns: 100%  ;
    grid-column-gap:1%;
    grid-row-gap: 16px;
  }
  .article{
  position: relative;
    background: #FFFFFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .article__icon_save{
    position: absolute;
    right: 24px;

    top: 24px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-image: url("..src/images/Group\ 12.png");

  }
  .article__icon_save:hover{
    background-image: url("..src/images/Group\ 14.png");

  }
  .article__pic{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .article__date{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  margin-left: 24px;
  color: #B6BCBF;
  }
  .article__title{
    font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  }
  .article__content{
    margin-left: 24px;
  margin-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 22px;

  color: #1A1B22;
  }
  .article__source{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;


  color: #B6BCBF;
    margin-left: 24px;
  }
  .show_more{
    width: 85%;
    display: flex;
    margin: auto;
    height: 64px;

    background: #FFFFFF;
   border-radius: 80px;
   font-family: Roboto;
  font-style: normal;
  font-weight: 500;

  font-size: 18px;
  line-height: 24px;
  text-align: end;
  justify-content: space-evenly;





  color: #1A1B22;

  border: thick;
  }
  .show_more:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  .finding{

      margin: 25px auto;


  display: flex;
  flex-direction: column;
  align-items: center;
      overflow: hidden;

  }
  .finding__img{

    width: 30px;
    height: 30px;
    border: 4px solid #444;
    border-bottom-color: #888;

    border-radius: 50%;


    animation: spin .75s infinite linear;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  .finding_subtitle{
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;


  text-align: center;


  color: #B6BCBF;

  }
  .nothing_not_found{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nothing_not_found__title{
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-align: center;

  color: #1A1B22;
  }
  .nothing_not_found__subtitle{
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-top: 14px;

  text-align: center;


  color: #B6BCBF;
  }
  .nothing_not_found__img{
    width: 50px;
    height: 50px;
  }

  .author{

    width: 89%;
    margin: auto;
    padding-top: 32px;
padding-left: 0;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;

  }
  .author__photo{
    width: 100%;
margin-right: 0;
    margin: auto;

  }

  .about_author{
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .about_author__title{
    width: 100%;
    font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;

  font-size: 30px;
  line-height: 40px;
margin-bottom: 16px;
  color: #1A1B22;
  }
  .about_author__info{
    margin-top:0 ;
    width: 100%;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #1A1B22;
  }

  .footer{
position: relative;
   width: 89%;
   margin: auto;
    padding:100px 0 0px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  }
  .footer__copyright{
    position: absolute;
    left: 5px;
    bottom: -38px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #B6BCBF;
    margin: 0;


  }
  .footer__info{


    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  .footer__info-main{

    margin: 0;
    text-decoration: none;
    color: #1A1B22;

  }
  .footer__info-yapracticum{
    margin: 0;

    text-decoration: none;
    color: #1A1B22;
  }
  .footer__icons{

    display: flex;
  }
  .footer__icon{

  margin-right: 26px;
  }
  .footer__icon:last-of-type{
    margin: 0;
  }
  .popup_forms{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .popup_forms.none{
    display: none;
  }

  .form{
  position: fixed;
    padding: 36px;
    width: 358px;
    background: #FFFFFF;
    border-radius: 16px;
  }
  .form__title{
    font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  margin: 0;

  }
  .form__enter{
    display: none;
  }


  .form__close {
    width: 40px;
    position: absolute;
    top: -46px;
    right: -46px;
    cursor: pointer;
  }


  .input_title{
    margin-top: 22px;
    margin-bottom: 9px;
    font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #2F71E5;
  }
  .popup__input{
    width: 100%;

    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    padding: 0px 0px 10px;
    margin-bottom: 4px;
  }

  .popup__input:last-of-type {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .popup__input:focus{
    border:0
  }
  .popup__button{
    padding: 0;
    width: 358px;
    height: 64px;
    border-radius: 100px;
    background: #E6E8EB;
    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  margin: 39px auto 16px;

  display: flex;
  align-items: center;
  text-align: center;
  border: thick;
  color: #B6BCBF;
  justify-content: space-evenly;
  }
  .or_registration{
    margin: auto;

    align-items: center;
  text-align: center;
  }
  .or_registration_link{
    text-decoration: none;
  }
  .form__registration{
    display: block;
  }
  .registration-ok{
  display: none;
  flex-direction: column;
  }
  .registration-ok__subtitle{
  padding-top: 14px ;
    font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #2F71E5;
  }

  .error_valid{
    margin-top: 3px;
    margin-bottom: 13px;
    font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #FF0000;
  }
  .error_valid__registration{
    text-align: center;
    margin: auto;
    margin-bottom: -34px;
    margin-top: 17px;
  }

  /*??????????????????????????????/////////////////////////////////////////////////////////////??????SAVED

  */
  .saved{
    width: 100%;
    margin: auto;
    background: #FFFFFF;
    color: #1A1B22;
    border-bottom: 1px solid #D1D2D6;
    margin-bottom: 0;
  }
  .black{
    color: #1A1B22;
  }

  .header__main-saved{
    border: 0;
  }
  .header__saved_articles-saved{
    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 64px;
    height: 100%;
    border-bottom: 3px solid #1A1B22;
  }
  .header__name_menu-saved{
    border: 1px solid #D1D2D6;
  }
.search_menu__tittle-saved{
  padding-top: 16px;
  font-size: 30px;
line-height: 34px;
}
  .search_menu_saved{

    width: 89%;
  margin: auto;
  margin-top: 8px;
    padding: 0;
  padding-bottom: 32px;
  }
.search_menu__subtittle-saved{
  padding-bottom: 0px;
}
  .search_menu_saved-uppersubtitle{

    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  /* identical to box height, or 171% */


  color: rgba(26, 27, 34, 0.5);
  }

  .article__icon_name{
    position: absolute;
    left: 24px;
    top: 10px;
    background: #FFFFFF;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px ;


  text-align: center;

  color: #000000;
  }
  .article__icon_delete{
    position: absolute;
    right:70px;
    top: 10px;
    background: #FFFFFF;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px ;


  text-align: center;

  color: #000000;
  }
  .article__icon_save-saved{
    width: 40px;
    height: 40px;
  background-image: url("../images/Group\ 12\ \(1\).png");
  }
  .article__icon_save-saved:hover{

    cursor: pointer;
    background-image: url("../images/Group\ 12-black.png");
  }

}
